
#OPENAI_API_KEY="your-openai-api-key"
#OPENAI_API_URL="https://api.openai.com/v1/"
#OPENAI_MODEL="gpt-4-turbo"
OPENAI_MODEL="gpt-4o"

# ollamma
#OPENAI_API_URL="http://localhost:11434/v1/"
#OPENAI_MODEL="dolphin-mixtral:latest"
#OPENAI_MODEL="llama3:70b"
#OPENAI_MODEL="mistral:latest"
